NEXT_PUBLIC_API_URL=http://localhost:3001/api
INTERNAL_API_URL=http://localhost:3001/api
NEXTAUTH_SECRET=7pcGyyLgCj6Ez7p2QE3j/XSorUJ5Xgqg5NbiVY4t2ktHkWSnns8n4uILzbPfvdgrTfiogvJV14/HtxZ227CAIQ==
AUTH_SECRET=ZLCiP3KccZYM/U6yMOPuO1ogjHh5bwXgrA5lQoIJnURCr8H6yUIHiu1YZpspmApqEsXo/xcL4wSUJm/an7ZOuQ==
AUTH_TRUST_HOST=true
NEXTAUTH_URL=http://localhost:3000
PUBLIC_APP_VERSION="1.1.3-26032026-01:00"

# ─── Solana Blockchain Configuration ──────────────────────────────────────────
NEXT_PUBLIC_SOLANA_RPC_URL="https://api.devnet.solana.com"
NEXT_PUBLIC_SOLANA_CLUSTER="devnet"
NEXT_PUBLIC_PREDICTION_PROGRAM_ID="your-program-id-here"
NEXT_PUBLIC_FUT_MINT="your-fut-mint-address-here"
NEXT_PUBLIC_COIN_NAME=""
NEXT_PUBLIC_APP_NAME=""